ul.menu.menu--footer
	-var items = ['О компании', 'Новости', 'Услуги', 'Цены', 'Галерея', 'Контакты']
	-var blocs = ['/company.html', '/news.html', '/services.html', '/price.html', '/gallery.html', '/map.html']
	each item, index in items
		if index === 0
			li.menu__item
				a.menu__link.menu__link--active(href=blocs[index])= item
		else
			li.menu__item
				a.menu__link(href=blocs[index])= item



	
