.news
	.container
		h2.news__header НОВОВСТИ КОМПАНИИ
		.news__wrapper
			+news("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию")
			+news("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию.")
			+news("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию.")
		a.button(href="/news.html") АРХИВ НОВОСТЕЙ