.owl-carousel.owl__slider
	+sliders("ЗАГРУЗИТЕ СЮДА НЕСКОЛЬКО КРАСИВЫХ СЛАЙДОВ!", "Много слайдов не нужно - достаточно 3-х или 5-ти. Опишите каждый слайд, будь то фото предоставляемой услуги или фотография о компании!")
	+sliders("ЗАГРУЗИТЕ СЮДА НЕСКОЛЬКО КРАСИВЫХ СЛАЙДОВ!", "Много слайдов не нужно - достаточно 3-х или 5-ти. Опишите каждый слайд, будь то фото предоставляемой услуги или фотография о компании!")
	+sliders("ЗАГРУЗИТЕ СЮДА НЕСКОЛЬКО КРАСИВЫХ СЛАЙДОВ!", "Много слайдов не нужно - достаточно 3-х или 5-ти. Опишите каждый слайд, будь то фото предоставляемой услуги или фотография о компании!")
	+sliders("ЗАГРУЗИТЕ СЮДА НЕСКОЛЬКО КРАСИВЫХ СЛАЙДОВ!", "Много слайдов не нужно - достаточно 3-х или 5-ти. Опишите каждый слайд, будь то фото предоставляемой услуги или фотография о компании!")